QORTIUM_CONTAINER_NAME=qortium-core
QORTIUM_NETWORK_NAME=qortium-net

# Keep these in sync with values in ./data/qortium/settings.json
QORTIUM_API_PORT=12391
QORTIUM_P2P_PORT=12392
QORTIUM_QDN_PORT=12394

# Host bind addresses used by docker-compose.yml
QORTIUM_API_BIND_HOST=127.0.0.1
QORTIUM_P2P_BIND_HOST=0.0.0.0
QORTIUM_QDN_BIND_HOST=0.0.0.0
